.price_info {
  margin-top: 20px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 10px;

  list-style: none;
}

.currency {
  font-size: 16px;
}

.rate {
  font-size: 18px;

  transition: text-shadow 250ms linear, transform 250ms linear;

  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.1);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
}
