.price_info {
  margin-top: 20px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 10px;

  list-style: none;
}

.currency {
  font-size: 16px;
}

.rate {
  font-size: 18px;

  transition: color 250ms linear, transform 250ms linear;

  cursor: pointer;

  &:hover,
  &:focus {
    color: rgb(138, 4, 4);
    transform: scale(1.1);
  }
}
